@import "linkedin-variables.scss";
* {
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --linkedin: #0a66c2;
  --blue-50: #70b5f9;
  --green-50: #7fc15e;
  --purple-50: #c79ef7;
  --system-red-50: #fc9295;
  --post-color-icon-photo: var(--blue-50);
  --post-color-icon-video: var(--green-50);
  --post-color-icon-event: var(--purple-50);
  --post-color-icon-article: var(--system-red-50);
}
